<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216470205233-meofl68j7rmtetbhi9g57cjfgsk0lqhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216470205233-meofl68j7rmtetbhi9g57cjfgsk0lqhg</string>
	<key>API_KEY</key>
	<string>AIzaSyCu2FZVoMw4zhMkzw6ayO2wnG2b8UXQtnU</string>
	<key>GCM_SENDER_ID</key>
	<string>216470205233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myProject</string>
	<key>PROJECT_ID</key>
	<string>management-f05ed</string>
	<key>STORAGE_BUCKET</key>
	<string>management-f05ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216470205233:ios:ed263aef8ae0719a24b610</string>
</dict>
</plist>